
.red-box{
 width:100px;
 height: 100px;
 background-color: red;
}

.green-box{
 width:100px;
 height: 100px;
 background-color: green;
}

.blue-box{
 width:100px;
 height: 100px;
 background-color: blue;
}

.pink-box{
 width:80px;
 height: 80px;
 background-color: pink;
}
.gray-box{
 width:100px;
 height: 100px;
 background-color: gray;
}
 ..yellow-box
{
  
 width: 50px;
 height: 50px;
 background-color: yellow; 
}